[submodule "ThirdParty/src/assimp"]
  path = ThirdParty/src/assimp
  url = https://github.com/assimp/assimp
[submodule "ThirdParty/src/msdfgen"]
	path = ThirdParty/src/msdfgen
	url = https://github.com/Chlumsky/msdfgen
[submodule "ThirdParty/src/OpenXR-SDK"]
  path = ThirdParty/src/OpenXR-SDK
  url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "ThirdParty/src/shaderc"]
	path = ThirdParty/src/shaderc
	url = https://github.com/google/shaderc
[submodule "ThirdParty/src/SPIRV-Cross"]
	path = ThirdParty/src/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross